* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-primary {
  color: #fd6e0a;
}
.head-tittle {
  font-weight: 800;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 100px;
}
nav li {
  list-style: none;
  margin: 10px;
}
nav ul {
  display: flex;
  margin-top: 5px;
  margin-right: 100px;
  align-items: center;
}

.btn-primary {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background: #fd6e0a;
  border-radius: 5px;
  height: 64px;
  width: 150px;
  border: 0;
}
.banner {
  align-items: center;
  display: flex;
  margin-left: 100px;
}
.banner-firs-header {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  width: 177px;
  height: 61px;
  margin-bottom: 10px;
}
.banner-secend-header {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  width: 498px;
  height: 116px;
  margin-bottom: 5px;
}
.banner-paragrap {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  width: 585px;
  height: 60px;
  margin-bottom: 5px;
}
.btn-primary2 {
  font-weight: 700;
  font-size: 20px;
  color: #fd6e0a;
  background: #ffffff;
  border-radius: 1px #fd6e0a;
  height: 64px;
  width: 150px;
  border: 1px solid #fd6e0a;
  margin-left: 10px;
}
main {
  margin-top: 130px;
}
header {
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: right bottom, left;
  height: 750px;
}
.section-1 {
  text-align: center;
}
.about {
  color: #181818;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
main p {
  text-align: center;
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  width: 827px;
  height: 120px;
  margin-left: 270px;
  margin-bottom: 30px;
}
.table-1 {
  margin-left: 400px;
  margin-bottom: 30px;
}
table th {
  color: #757575;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}
table td {
  color: #474747;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
}
